body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

  &__left {
    flex: 0.9
  }

  &__header {
    display: flex;
    justify-content: space-between;

    h1 {
      color: #fc3c3c;
      font-size: 2rem;
    }
  }

  &__stats {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media(max-width: 990px) {
  .app {
    flex-direction: column;
  }
}